<div class="exam-container">
  <app-question
    [(questions)]="questions"
    [(currentQuestionIndex)]="currentQuestionIndex"
  ></app-question>

  <div class="navigation-buttons">
    <button
      mat-button
      (click)="previousQuestion()"
      [disabled]="currentQuestionIndex === 0"
    >
      Previous
    </button>
    <button
      mat-button
      (click)="nextQuestion()"
      [disabled]="currentQuestionIndex === questions.length - 1"
    >
      Next
    </button>
    <button mat-button color="primary" (click)="saveExam()">Save</button>
  </div>
</div>
